# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
eebc87798fec1be1f5eb40a170d624777ddbf0d8d417a89cd774fbb34e680c24
# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
